.DS_Store

template/node_modules
template/.pnp
template/.pnp.js
template/coverage
template/build

template/.env.local
template/.env.development.local
template/.env.test.local
template/.env.production.local

template/package.json
template/npm-debug.log*
template/package-lock.json
template/yarn-debug.log*
template/yarn-error.log*
template/yarn.lock