@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap";
@import "./variables.scss";
@import "./mixins.scss";

// ============================ Defaults ============================

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ============================ Layout ============================
section {
  padding: 2rem 1rem;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  &-fluid {
    width: 100%;
  }
}

.wrapper {
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  .siderbar {
    width: var(--siderbar-width);
  }
  main {
    width: 100%;
  }
  main,
  .sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
  }
}

// ============================ Components ============================

.tooltip {
  position: absolute;
  z-index: var(--z-tooltip);
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--light-color);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  font-size: var(--font-small);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  &.top {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, calc(-100% - 0.5rem));

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%) rotate(45deg);
      height: 10px;
      width: 10px;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  &.bottom {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, calc(100% + 0.5rem));

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%) rotate(45deg);
      height: 10px;
      width: 10px;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  &.left {
    top: 50%;
    left: 0;
    transform: translate(calc(-100% - 0.5rem), -50%);

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(50%, -50%) rotate(45deg);
      height: 10px;
      width: 10px;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  &.right {
    top: 50%;
    right: 0;
    transform: translate(calc(100% + 0.5rem), -50%);

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%) rotate(45deg);
      height: 10px;
      width: 10px;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  @at-root *:hover > .tooltip {
    opacity: 1;
    visibility: visible;
  }
}

.btn {
  display: inline-block;
  color: var(--light-color);
  padding: 0.5rem 0.75rem;
  border-radius: 3px;
  font-size: var(--font-size);
  font-weight: var(--font-medium);
  border: 0;
  outline: 0;
  cursor: pointer;
  text-align: center;
  &.disabled {
    opacity: 0.5;
    cursor: initial;
  }
  &-light {
    color: var(--dark-color);
  }
  &-block {
    width: 100%;
  }
  &:active {
    box-shadow: var(--box-shadow-inset-light);
  }
  &-group {
    border-radius: 0.5rem;
    overflow: hidden;
    width: max-content;
    .btn {
      border-radius: 0;
    }
    &:hover {
      box-shadow: var(--box-shadow);
    }
  }
  &-icon {
    font-size: 1.25rem;
    margin-left: 0.5rem;
  }
  &-flex {
    display: inline-flex;
    align-items: center;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  th,
  td {
    border: 1px solid var(--border-color);
    padding: 0.5rem;
  }
}

// ============================ Box and border ============================
.rounded {
  border-radius: var(--border-radius);
}

.circle {
  border-radius: 100%;
}

.box {
  &-shadow {
    box-shadow: var(--box-shadow);
    &-light {
      box-shadow: var(--box-shadow-light);
    }
    &-inset {
      box-shadow: var(--box-shadow-inset);
      &-light {
        box-shadow: var(--box-shadow-inset-light);
      }
    }
  }
}

.neumorphic {
  background-color: hsla(0, 0%, 100%, 1%);
  box-shadow: var(--neumorphic);
  &-inset {
    box-shadow: var(--neumorphic-inset);
  }
}

// ============================ Typography ============================
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

h1,
.title {
  // Title
  width: 100%;
  font-size: var(--title-size);
}

h2,
.section-title {
  // Section Title
  font-size: var(--section-title-size);
}

h3,
.heading {
  // Heading
  font-size: var(--heading-size);
}

h4,
.sub-heading {
  // Sub Heading
  font-size: var(--subheading-size);
}

.subtitle {
  // Subtitle
  display: block;
  font-size: var(--font-size);
  margin-bottom: 2rem;
}

.caption {
  // Caotion
  display: block;
  font-size: var(--font-small);
}

.font-regular {
  font-weight: var(--font-regular) !important;
}

.font-medium {
  font-weight: var(--font-medium) !important;
}

.font-bold {
  font-weight: var(--font-semi-bold) !important;
}

// ============================ Animation ============================
.transition {
  transition: all 0.3s ease-in-out;
}
.transition-fast {
  transition: all 0.2s ease-in-out;
}
.transition-slow {
  transition: all 0.5s ease-in-out;
}

// ============================ Misc ============================
.disabled {
  color: var(--text-light);
  pointer-events: none;
  cursor: auto;
}

.clickable {
  cursor: pointer;
}

// ============================ Responsiveness ============================
@each $breakpoint, $_ in $breakpoints {
  $prefix: "";
  @if $breakpoint != "" {
    $prefix: #{$breakpoint}-;
  }
  @include breakpoint($breakpoint) {
    // ----- Alignments -----

    @for $i from 0 through 500 {
      @include height_width($prefix, $i);
    }

    .#{$prefix}h-header {
      height: var(--header-height);
    }

    .#{$prefix}children-center {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .#{$prefix}visible {
      visibility: visible;
      opacity: 1;
    }

    .#{$prefix}invisible {
      visibility: hidden;
      opacity: 0;
    }

    @include display($prefix);
    @include flex($prefix);
    @include align($prefix);

    @for $i from 0 through 12 {
      @include margin($prefix, $i);
      @include padding($prefix, $i);
      @include border($prefix, $i);
      @include gap($prefix, $i);
      @include grid-define($prefix, $i);
      @for $span from 1 through 12 {
        @include grid-position($prefix, $i, $span);
      }
    }
  }
}

// ============================ Theme ============================
@include color(bg);
@include color(primary);
@include color(secondary);
@include color(success);
@include color(danger);
@include color(warning);
@include color(info);
@include color(light);
@include color(dark);
