@import "./mixins.scss";
:root {
  // ============================ Theme ============================
  --hue: 190;
  --primary-hue: var(--hue); // BLue
  --secondary-hue: 250; // Purple
  --success-hue: 144; // Green
  --danger-hue: 350; // Red
  --warning-hue: 40; // Yellow
  --info-hue: 195; // Light Blue
  --primary-color: hsl(var(--primary-hue), 100%, 50%);
  --primary-color-alt: hsl(var(--primary-hue), 100%, 35%);
  --primary-color-light: hsl(var(--primary-hue), 100%, 90%);
  --primary-color-light-alt: hsl(var(--primary-hue), 90%, 80%);
  --secondary-color: hsl(var(--secondary-hue), 69%, 61%);
  --secondary-color-alt: hsl(var(--secondary-hue), 69%, 55%);
  --secondary-color-light: hsl(var(--secondary-hue), 90%, 90%);
  --secondary-color-light-alt: hsl(var(--secondary-hue), 90%, 80%);
  --success-color: hsl(var(--success-hue), 100%, 36%);
  --success-color-alt: hsl(var(--success-hue), 100%, 30%);
  --success-color-light: hsl(var(--success-hue), 90%, 90%);
  --success-color-light-alt: hsl(var(--success-hue), 90%, 80%);
  --danger-color: hsl(var(--danger-hue), 94%, 58%);
  --danger-color-alt: hsl(var(--danger-hue), 94%, 52%);
  --danger-color-light: hsl(var(--danger-hue), 90%, 90%);
  --danger-color-light-alt: hsl(var(--danger-hue), 90%, 80%);
  --warning-color: hsl(var(--warning-hue), 100%, 50%);
  --warning-color-alt: hsl(var(--warning-hue), 100%, 44%);
  --warning-color-light: hsl(var(--warning-hue), 90%, 90%);
  --warning-color-light-alt: hsl(var(--warning-hue), 90%, 80%);
  --info-color: hsl(var(--info-hue), 83%, 58%);
  --info-color-alt: hsl(var(--info-hue), 83%, 46%);
  --info-color-light: hsl(var(--info-hue), 90%, 90%);
  --info-color-light-alt: hsl(var(--info-hue), 90%, 70%);
  --light-color: hsl(0, 0%, 98%);
  --light-color-alt: hsl(0, 0%, 95%);
  --dark-color: hsl(0, 0%, 15%);
  --dark-color-alt: hsl(0, 0%, 20%);
  --title-color: #000;
  --text-color: hsl(0, 0%, 25%);
  --text-light: hsl(0, 0%, 50%);
  --border-color: hsl(0, 0%, 80%);
  --bg-color: hsl(0, 0%, 98%);
  --bg-color-alt: hsl(0, 0%, 95%);
  --bg-color-light: hsl(0, 0%, 100%);

  --primary-gradient: linear-gradient(
    141deg,
    var(--primary-color) 0%,
    hsl(var(--primary-hue), 83%, 35%) 77%,
    hsl(var(--primary-hue), 89%, 25%) 100%
  );

  body.dark {
    --title-color: #fff;
    --text-color: hsl(0, 0%, 75%);
    --text-light: hsl(var(--hue), 20%, 50%);
    --bg-color: hsl(var(--hue), 20%, 10%);
    --bg-color-alt: hsl(var(--hue), 20%, 5%);
    --bg-color-light: hsl(var(--hue), 20%, 15%);
    --border-color: hsl(0, 0%, 20%);
  }
  // ============================ Shadows ============================
  --box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.25);
  --box-shadow-inset: inset 0px 0px 10px 0px hsla(0, 0%, 0%, 0.25);
  --box-shadow-light: 0px 0px 5px 0px hsla(0, 0%, 0%, 0.1);
  --box-shadow-inset-light: inset 0px 0px 5px 0px hsla(0, 0%, 0%, 0.15);
  --card-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
  --neumorphic: 5px 5px 10px hsla(0, 0%, 0%, 10%),
    -5px -5px 5px hsla(0, 0%, 100%, 5%);
  --neumorphic-inset: inset 5px 5px 10px hsla(0, 0%, 0%, 10%),
    inset -5px -5px 10px hsla(0, 0%, 100%, 10%);
  --border-radius: 10px;
  // ============================ Typography ============================
  --font-family: "Poppins", sans-serif;
  --title-size: 3rem;
  --section-title-size: 2.25rem;
  --heading-size: 1.5rem;
  --subheading-size: 1.25rem;
  --font-size: 1rem;
  --font-small: 0.875rem;
  --font-smaller: 0.813rem;
  /*========== Font weight ==========*/
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 1000;
  --z-modal: 10000;
  // ============================ Layout ============================
  --header-height: 4rem;
  --sidebar-width: 300px;

  @include breakpoint("md") {
    --title-size: 2rem;
    --section-title-size: 1.5rem;
    --heading-size: 1.25rem;
    --subheading-size: 1.125rem;
    --font-size: 0.938rem;
    --font-small: 0.813rem;
    --font-smaller: 0.75rem;
  }

  @include breakpoint("sm") {
    --title-size: 1.5rem;
    --section-title-size: 1.25rem;
    --heading-size: 1.125rem;
    --subheading-size: 0.938rem;
    --font-size: 0.9rem;
    --font-small: 0.8rem;
    --font-smaller: 0.75rem;
  }
}
